# Projeto de Análise de Dados
# Desenvolvido por Ian Rodrigues dos Reis Paixão
# Contato: iang.master100@gmail.com

O objetivo deste projeto é validar a integridade do Balancete de um grupo econômico, considerando as movimentações contábeis organizadas por ativo e passivo.

As etapas do problema incluem:

*   1️⃣ Limpeza e preparação de dados: Importar dados de diversas planilhas CSV, tratar inconsistências, atualizar valores nulos e remover duplicados.

*   2️⃣ Análise temporal: Verificar a evolução do Balancete, observando o comportamento do ativo e do passivo.
*   3️⃣ Análise por categoria: Consolidar o Balancete em categorias de ativo e passivo, garantindo a integridade do grupo econômico.


*   4️⃣ Exportação de resultados: Gerar um relatório em formato JSON com a análise do Balancete.

*  5️⃣ Visualização: Exibir os resultados de maneira interativa utilizando a biblioteca 'json2html'.


✨ Resultado: Um fluxo automatizado e confiável, ideal para auditorias financeiras, oferecendo uma solução eficiente e elegante

In [23]:
'''
-- Exercício 1: Modelagem e Tratamento de Dados

-- A) Criação do Diagrama de Entidade e Relacionamento (DER)

CREATE TABLE Empresa (
    Codigo INT PRIMARY KEY,
    Empresa VARCHAR(255) NOT NULL
);

CREATE TABLE MovimentoContabil (
    Data DATE NOT NULL,
    `Conta Contábil` VARCHAR(50) NOT NULL,
    Descricao VARCHAR(255) NOT NULL,
    Valor DECIMAL(15,2) NOT NULL,
    Relatorio INT NOT NULL,
    `Centro de Custo` INT NOT NULL,
    Empresa INT NOT NULL,
    Seq INT PRIMARY KEY
);

CREATE TABLE Relatorio (
    Código INT PRIMARY KEY,
    Relatorio VARCHAR(255) NOT NULL,
    `Indicador Ativo / Inativo` VARCHAR(10) NOT NULL
);

CREATE TABLE CentroCusto (
    Código INT PRIMARY KEY,
    Descrição VARCHAR(255) NOT NULL,
    `Indicador Ativo / Inativo` VARCHAR(10) NOT NULL
);

-- B) Tratamento dos dados

-- Atualizar valores nulos para zero nas tabelas necessárias
UPDATE MovimentoContabil
SET Valor = 0
WHERE Valor IS NULL;

-- Remover registros duplicados na MovimentoContabil
DELETE mc1
FROM MovimentoContabil mc1
INNER JOIN MovimentoContabil mc2
    ON mc1.Seq > mc2.Seq
    AND mc1.`Conta Contábil` = mc2.`Conta Contábil`
    AND mc1.Empresa = mc2.Empresa;

-- C) Scripts para popular as tabelas conforme o arquivo Excel

-- Cada Planilha do excel foi Salva como um arquivo csv separadamente

-- Carregar dados na tabela Empresa
LOAD DATA INFILE 'C:/Users/iangm/Downloads/Empresa.csv'
INTO TABLE Empresa
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

-- Carregar dados na tabela MovimentoContabil
LOAD DATA INFILE 'C:/Users/iangm/Downloads/Movimento Contábil.csv'
INTO TABLE MovimentoContabil
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

-- Carregar dados na tabela Relatorio
LOAD DATA INFILE 'C:/Users/iangm/Downloads/Relatório.csv'
INTO TABLE Relatorio
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

-- Carregar dados na tabela CentroCusto
LOAD DATA INFILE 'C:/Users/iangm/Downloads/Centro de Custo.csv'
INTO TABLE CentroCusto
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;

-- Exercício 2: Análise e Exportação para JSON

-- A) Validação da integridade do Balancete considerando Ativo e Passivo do grupo econômico

SELECT
    SUM(CASE WHEN LEFT(`Conta Contábil`, 1) = '1' THEN Valor ELSE 0 END) AS total_ativo,
    SUM(CASE WHEN LEFT(`Conta Contábil`, 1) != '1' THEN Valor ELSE 0 END) AS total_passivo,
    (SUM(CASE WHEN LEFT(`Conta Contábil`, 1) = '1' THEN Valor ELSE 0 END) +
     SUM(CASE WHEN LEFT(`Conta Contábil`, 1) != '1' THEN Valor ELSE 0 END)) AS integridade
FROM MovimentoContabil;

-- Regra: Integridade é quando TOTAL ATIVO + TOTAL PASSIVO = 0

-- B) Consulta para retornar JSON com a estrutura solicitada para o grupo econômico

SELECT
    JSON_OBJECT(
        'total_ativo', SUM(CASE WHEN LEFT(`Conta Contábil`, 1) = '1' THEN Valor ELSE 0 END),
        'total_passivo', SUM(CASE WHEN LEFT(`Conta Contábil`, 1) != '1' THEN Valor ELSE 0 END),
        'integridade', (SUM(CASE WHEN LEFT(`Conta Contábil`, 1) = '1' THEN Valor ELSE 0 END) +
                        SUM(CASE WHEN LEFT(`Conta Contábil`, 1) != '1' THEN Valor ELSE 0 END))
    ) AS resultado_json
FROM MovimentoContabil;

'''

"\n-- Exercício 1: Modelagem e Tratamento de Dados\n\n-- A) Criação do Diagrama de Entidade e Relacionamento (DER)\n\nCREATE TABLE Empresa (\n    Codigo INT PRIMARY KEY,\n    Empresa VARCHAR(255) NOT NULL\n);\n\nCREATE TABLE MovimentoContabil (\n    Data DATE NOT NULL,\n    `Conta Contábil` VARCHAR(50) NOT NULL,\n    Descricao VARCHAR(255) NOT NULL,\n    Valor DECIMAL(15,2) NOT NULL,\n    Relatorio INT NOT NULL,\n    `Centro de Custo` INT NOT NULL,\n    Empresa INT NOT NULL,\n    Seq INT PRIMARY KEY\n);\n\nCREATE TABLE Relatorio (\n    Código INT PRIMARY KEY,\n    Relatorio VARCHAR(255) NOT NULL,\n    `Indicador Ativo / Inativo` VARCHAR(10) NOT NULL\n);\n\nCREATE TABLE CentroCusto (\n    Código INT PRIMARY KEY,\n    Descrição VARCHAR(255) NOT NULL,\n    `Indicador Ativo / Inativo` VARCHAR(10) NOT NULL\n);\n\n-- B) Tratamento dos dados\n\n-- Atualizar valores nulos para zero nas tabelas necessárias\nUPDATE MovimentoContabil\nSET Valor = 0\nWHERE Valor IS NULL;\n\n-- Remover registros duplicados na MovimentoContabil\nDELETE mc1 \nFROM MovimentoContabil mc1\nINNER JOIN MovimentoContabil mc2 \n    ON mc1.Seq > mc2.Seq \n    AND mc1.`Conta Contábil` = mc2.`Conta Contábil`\n    AND mc1.Empresa = mc2.Empresa;\n\n-- C) Scripts para popular as tabelas conforme o arquivo Excel\n\n-- Cada Planilha do excel foi Salva como um arquivo csv separadamente\n\n-- Carregar dados na tabela Empresa\nLOAD DATA INFILE 'C:/Users/iangm/Downloads/Empresa.csv'\nINTO TABLE Empresa\nFIELDS TERMINATED BY ','\nLINES TERMINATED BY '\n'\nIGNORE 1 ROWS;\n\n-- Carregar dados na tabela MovimentoContabil\nLOAD DATA INFILE 'C:/Users/iangm/Downloads/Movimento Contábil.csv'\nINTO TABLE MovimentoContabil\nFIELDS TERMINATED BY ','\nLINES TERMINATED BY '\n'\nIGNORE 1 ROWS;\n\n-- Carregar dados na tabela Relatorio\nLOAD DATA INFILE 'C:/Users/iangm/Downloads/Relatório.csv'\nINTO TABLE Relatorio\nFIELDS TERMINATED BY ','\nLINES TERMINATED BY '\n'\nIGNORE 1 ROWS;\n\n-- Carregar dados na tabela CentroCusto\nLOAD DATA INFILE 'C:/Users/iangm/Downloads/Centro de Custo.csv'\nINTO TABLE CentroCusto\nFIELDS TERMINATED BY ','\nLINES TERMINATED BY '\n'\nIGNORE 1 ROWS;\n\n-- Exercício 2: Análise e Exportação para JSON\n\n-- A) Validação da integridade do Balancete considerando Ativo e Passivo do grupo econômico\n\nSELECT \n    SUM(CASE WHEN LEFT(`Conta Contábil`, 1) = '1' THEN Valor ELSE 0 END) AS total_ativo,\n    SUM(CASE WHEN LEFT(`Conta Contábil`, 1) != '1' THEN Valor ELSE 0 END) AS total_passivo,\n    (SUM(CASE WHEN LEFT(`Conta Contábil`, 1) = '1' THEN Valor ELSE 0 END) + \n     SUM(CASE WHEN LEFT(`Conta Contábil`, 1) != '1' THEN Valor ELSE 0 END)) AS integridade\nFROM MovimentoContabil;\n\n-- Regra: Integridade é quando TOTAL ATIVO + TOTAL PASSIVO = 0\n\n-- B) Consulta para retornar JSON com a estrutura solicitada para o grupo econômico\n\nSELECT \n    JSON_OBJECT(\n        'total_ativo', SUM(CASE WHEN LEFT(`Conta Contábil`, 1) = '1' THEN Valor ELSE 0 END),\n        'total_passivo', SUM(CASE WHEN LEFT(`Conta Contábil`, 1) != '1' THEN Valor ELSE 0 END),\n        'integridade', (SUM(CASE WHEN LEFT(`Conta Contábil`, 1) = '1' THEN Valor ELSE 0 END) + \n                        SUM(CASE WHEN LEFT(`Conta Contábil`, 1) != '1' THEN Valor ELSE 0 END))\n    ) AS resultado_json\nFROM MovimentoContabil;\n\n"

In [24]:
!pip install json2html
import pandas as pd
import os

# Caminho do arquivo Excel
excel_file = '/content/Extração_Teste_LeverPro.xlsx'

# Diretório de saída para os arquivos CSV
output_dir = '/content/'
os.makedirs(output_dir, exist_ok=True)

# Carregar todas as planilhas do arquivo Excel
sheets = pd.read_excel(excel_file, sheet_name=None)

# Para cada planilha, salvar como CSV
for sheet_name, df in sheets.items():
    # Criar o caminho do arquivo CSV
    csv_file = os.path.join(output_dir, f"{sheet_name}.csv")

    # Salvar o DataFrame como CSV
    df.to_csv(csv_file, index=False)
    print(f"Planilha '{sheet_name}' salva como '{csv_file}'")

print("Conversão concluída!")

Collecting json2html
  Downloading json2html-1.3.0.tar.gz (7.0 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: json2html
  Building wheel for json2html (setup.py) ... done
  Created wheel for json2html: filename=json2html-1.3.0-py3-none-any.whl size=7594 sha256=1fa52d63e6736b16f4a3e4f5e7236cbb1cb3f182f6e6d786006c587e3e482104
  Stored in directory: /root/.cache/pip/wheels/ea/8b/96/b33d26a9d72d6c8ac50ef1fe81089c350a9fdcf51feab22144
Successfully built json2html
Installing collected packages: json2html
Successfully installed json2html-1.3.0
Planilha 'Empresa' salva como '/content/Empresa.csv'
Planilha 'Movimento Contábil' salva como '/content/Movimento Contábil.csv'
Planilha 'Relatório' salva como '/content/Relatório.csv'
Planilha 'Centro de Custo' salva como '/content/Centro de Custo.csv'
Conversão concluída!

In [25]:
import pandas as pd
import sqlite3
import json
import IPython.display as display
from json2html import *

# Caminhos para os arquivos CSV no Google Colab
empresa_csv = '/content/Empresa.csv'
movimento_contabil_csv = '/content/Movimento Contábil.csv'
relatorio_csv = '/content/Relatório.csv'
centro_custo_csv = '/content/Centro de Custo.csv'

# Criando o banco de dados SQLite
conn = sqlite3.connect('/content/balancete.db')
cursor = conn.cursor()

# Criando as tabelas SQLite
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Empresa (
        Codigo INT PRIMARY KEY,
        Empresa TEXT NOT NULL
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS MovimentoContabil (
        Data TEXT NOT NULL,
        "Conta Contábil" TEXT NOT NULL,
        Descricao TEXT NOT NULL,
        Valor REAL NOT NULL,
        Relatorio INT NOT NULL,
        "Centro de Custo" INT NOT NULL,
        Empresa INT NOT NULL,
        Seq INT PRIMARY KEY
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Relatorio (
        Código INT PRIMARY KEY,
        Relatorio TEXT NOT NULL,
        "Indicador Ativo / Inativo" TEXT NOT NULL
    );
''')

cursor.execute('''
    CREATE TABLE IF NOT EXISTS CentroCusto (
        Código INT PRIMARY KEY,
        Descrição TEXT NOT NULL,
        "Indicador Ativo / Inativo" TEXT NOT NULL
    );
''')

print("Tabelas criadas com sucesso!")

# Carregar os arquivos CSV para DataFrames
df_empresa = pd.read_csv(empresa_csv)
df_movimento_contabil = pd.read_csv(movimento_contabil_csv)
df_relatorio = pd.read_csv(relatorio_csv)
df_centro_custo = pd.read_csv(centro_custo_csv)

# Enviando os DataFrames para o banco de dados SQLite
df_empresa.to_sql('Empresa', conn, if_exists='replace', index=False)
df_movimento_contabil.to_sql('MovimentoContabil', conn, if_exists='replace', index=False)
df_relatorio.to_sql('Relatorio', conn, if_exists='replace', index=False)
df_centro_custo.to_sql('CentroCusto', conn, if_exists='replace', index=False)

print("Dados inseridos com sucesso!")

# Tratamento dos dados via SQL
cursor.execute('''
    UPDATE MovimentoContabil
    SET Valor = 0
    WHERE Valor IS NULL;
''')

cursor.execute('''
    DELETE FROM MovimentoContabil
    WHERE rowid NOT IN (
        SELECT MIN(rowid)
        FROM MovimentoContabil
        GROUP BY "Conta Contábil", Empresa, Seq
    );
''')

conn.commit()
print("Tratamento dos dados realizado com sucesso!")

# Comentário: Como o tratamento poderia ser feito em Python
# df_movimento_contabil['Valor'].fillna(0, inplace=True)  # Atualizar valores nulos para zero
# df_movimento_contabil.drop_duplicates(subset=['Conta Contábil', 'Empresa', 'Seq'], keep='first', inplace=True)  # Remover duplicados

# Consulta SQL para validar a integridade do Balancete
query_integridade = """
SELECT
    SUM(CASE WHEN substr("Conta Contábil", 1, 1) = '1' THEN Valor ELSE 0 END) AS total_ativo,
    SUM(CASE WHEN substr("Conta Contábil", 1, 1) != '1' THEN Valor ELSE 0 END) AS total_passivo,
    (SUM(CASE WHEN substr("Conta Contábil", 1, 1) = '1' THEN Valor ELSE 0 END) +
     SUM(CASE WHEN substr("Conta Contábil", 1, 1) != '1' THEN Valor ELSE 0 END)) AS integridade
FROM MovimentoContabil;
"""
df_integridade = pd.read_sql_query(query_integridade, conn)
print("Validação da Integridade do Balancete:")
print(df_integridade)

# Consulta SQL para gerar o JSON
query_json = """
SELECT
    json_object(
        'total_ativo', SUM(CASE WHEN substr("Conta Contábil", 1, 1) = '1' THEN Valor ELSE 0 END),
        'total_passivo', SUM(CASE WHEN substr("Conta Contábil", 1, 1) != '1' THEN Valor ELSE 0 END),
        'integridade', (SUM(CASE WHEN substr("Conta Contábil", 1, 1) = '1' THEN Valor ELSE 0 END) +
                        SUM(CASE WHEN substr("Conta Contábil", 1, 1) != '1' THEN Valor ELSE 0 END))
    ) AS resultado_json
FROM MovimentoContabil;
"""
df_json = pd.read_sql_query(query_json, conn)

# Converter para JSON
result_json = df_json.to_json(orient='records', indent=4)

# Salvar JSON
json_path = '/content/resultado_balancete.json'
with open(json_path, 'w') as f:
    f.write(result_json)

print(f"Arquivo JSON gerado com sucesso! Caminho: {json_path}")

# Abrir o JSON em uma visualização HTML interativa
with open(json_path, 'r') as f:
    json_content = json.load(f)
    html_content = json2html.convert(json = json_content)
    display.display(display.HTML(html_content))

# Fechar a conexão com o banco de dados
conn.close()

Tabelas criadas com sucesso!
Dados inseridos com sucesso!
Tratamento dos dados realizado com sucesso!
Validação da Integridade do Balancete:
    total_ativo  total_passivo   integridade
0  5.583795e+09  -2.636679e+08  5.320127e+09
Arquivo JSON gerado com sucesso! Caminho: /content/resultado_balancete.json